<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #b7b6ab;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<div class="header">
  <img src="assets/icons/harrypotter.png" alt="Título" class="logo" />
</div>

<div class="option-buttons">
  <button
    (click)="onOptionSelected('staff')"
    [ngClass]="{ selected: isOptionSelected('staff') }"
  >
    Staff
  </button>
  <button
    (click)="onOptionSelected('characters')"
    [ngClass]="{ selected: isOptionSelected('characters') }"
  >
    Characters
  </button>
  <button
    (click)="onOptionSelected('students')"
    [ngClass]="{ selected: isOptionSelected('students') }"
  >
    Students
  </button>
</div>

<div class="section-wrapper">
  <app-staff-section *ngIf="selectedOption === 'staff'" />
  <app-students-section *ngIf="selectedOption === 'students'" />
  <app-characters-section *ngIf="selectedOption === 'characters'" />
</div>
