@import "../variables";

.section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: $secondary-color;
  padding: 50px 0;
}
